@import "./colors";
.firstPage {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.vinDecoder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.vinHeader,
.vinFinder {
  width: 100%;
  @include flexCenter(center, row, stretch);
}
.vinFinder {
  min-height: 20vh;
  align-items: center;
}
#InputVin {
  height: 25px;
}
.btn,
.detailsBtn {
  height: 31px;
  background: $smoke;
  border: 1px solid black;
  border-radius: 2px;
}
.vinHeader {
  font-size: 38px;
  min-height: 15vh;
  align-items: flex-end;
  p {
    font-size: 2 rem;
  }
}

.vinArticle {
  @include flexCenter(flex-start, column, stretch);
  min-height: 55vh;
  padding: 50px;
  p {
    width: 100%;
    line-height: 1.3;
    padding: 30px 0 30px 0;
  }
  h3 {
    font-size: 25px;
    color: $blk;
  }
}

main,
aside {
  width: 100%;
  min-height: 100vh;
  background: $softPink;
}

main {
  background: $softPink;
}
.headerRaport {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background: $blk;
  color: $brightPink;
  p {
    font-size: 38px;
    color: red($color: #000000);
  }
  i {
    font-size: 48px;
    padding-left: 30px;
    padding-right: 10px;
  }
}

.infoRaport,
.imgRaport {
  @include flexCenter(center, row, center);
  width: 50%;
  font-size: 16px;
}
.infoRaport {
  @include flexCenter(flex-start, column, center);
  padding: 100px 0 50px 0;
}
.NameCarHeader {
  font-size: 25px;
  padding-bottom: 35px;
}
.mainRaport {
  display: flex;
  width: 100%;
  min-height: 60vh;
}
.detailsRaport {
  @include flexCenter(center, row, center);
  min-height: 20vh;
  background: black;
}
.imgRaport {
  img {
    object-fit: cover;
    width: 90%;
    border-radius: 8px;
    box-shadow: 8px 8px 10px black;
  }
}
.infoRaportWrapper {
  ul,
  li {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    i {
      padding-right: 20px;
    }
  }
}
.NameCarHeader {
  font-weight: 450;
}
.ContainerDetailsRaport {
  min-height: 40vh;
  width: 100%;
  background: orange;
  display: none;
}
