@import "./colors";

.ContainerDetailsRaport {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  div {
    //width: 33.33%;
    display: flex;
  }
}

.engineDetails {
  background: $smoke;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  img {
    width: 70px;
  }
}
.engineIcons {
  img {
    width: 70px;
    padding: 20px;
  }
}
.engineSpec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.33%;
}
.engineDataBar {
  padding-top: 10px;
  p {
    font-size: 20px;
    font-weight: 600;
  }
}
.engineIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 50px;
  }
}
.engineDesc {
  background-color: $brightPink;
  justify-content: center;
  font-size: 3em;
  align-items: center;
  width: 33.33%;
  img {
    width: 100px;
    padding-left: 20px;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.carRaportPDF {
  background-color: $brightPink;
  align-items: center;
  justify-content: center;
  //min-height: 40vh;
  font-size: 17px;
  width: 33.33%;
  i {
    font-size: 100px;
    cursor: pointer;
    padding-left: 10px;
  }
  span {
    font-weight: bold;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

main,
aside {
  width: 100%;
  min-height: 100vh;
  background: $softPink;
}

main {
  background: $softPink;
}
.headerRaport {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background: $blk;
  color: $brightPink;
  p {
    font-size: 38px;
    color: red($color: #000000);
  }
  i {
    font-size: 48px;
    padding-left: 30px;
    padding-right: 10px;
  }
}

.infoRaport,
.imgRaport {
  @include flexCenter(center, row, center);
  width: 50%;
  font-size: 16px;
}
.infoRaport {
  @include flexCenter(flex-start, column, center);
  padding: 100px 0 50px 0;
}
.NameCarHeader {
  font-size: 25px;
  padding-bottom: 35px;
}
.mainRaport {
  display: flex;
  width: 100%;
  min-height: 60vh;
}
.detailsRaport {
  @include flexCenter(center, row, center);
  min-height: 20vh;
  background: black;
}
.imgRaport {
  img {
    object-fit: cover;
    width: 90%;
    border-radius: 8px;
    box-shadow: 8px 8px 10px black;
  }
}
.infoRaportWrapper {
  ul,
  li {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    i {
      padding-right: 20px;
    }
    img {
      height: 20px;
      width: 20px;
      padding-right: 15px;
    }
  }
}
.NameCarHeader {
  font-weight: 450;
}
.ContainerDetailsRaport {
  min-height: 40vh;
  width: 100%;
  display: none;
}
